@(wantedGames: List[Game], ownedGames: List[Game], user: User)

@main {
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="@routes.Application.index" class="navbar-brand" id="logo"><span>Game</span>Tracker</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">@user.name <span>(@user.email)</span></p></li>
      <li><a href="@routes.Application.logout()">Logout</a></li>
    </ul>
  </div>
} {
	<nav>
		<div class="container">
			<div class="row">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">Dashboard</a></li>
					<li><a href="#">Wish List</a></li>
					<li><a href="#">Purchased</a></li>
				</ul>
			</div>
		</div>
	</nav>
}